@mixin hail {
  .hail {
    opacity: 0;
    > div {
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: $color-white;
      position: absolute;
      top: 0;
    }

    @for $i from 1 through 20 {
      > div:nth-child(#{$i}) {
        --size: #{random(8) + 5}px;
        --left-ini: random(360) px;
        --left-end: random(360) px;
        left: #{random(360)}px;
        animation: hailfall #{1 + random(10) * 0.01}s linear infinite;
        animation-delay: -#{random(20)}s;
      }
    }
  }
}
