html {
  box-sizing: border-box;
}

body {
  position: fixed;
  width: 100vw;
  margin: 0;
  padding: 0;
  background: $color-gray;
  font-family: $text-font-regular-family;
  font-size: $text-size-base;
  line-height: $text-line-height-base;
  color: $text-color-dark;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  max-height: 1000000px;
}

input {
  font-family: $text-font-regular-family;
  font-size: $text-size-large;
}
a {
  color: $text-color-light;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}
