@import '../../scss/main.scss';

.weather-box {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 360px;
  height: 360px;
  max-width: 100vw;
  max-height: 100vw;
  margin-bottom: 10vh;
  padding: $spacing-base;
  background-color: $color-black;
  box-shadow: 0 10px 25px 10px rgba(0, 0, 0, 0.25);
  border-radius: $border-radius-medium;
  border: 2px solid $color-white;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
  &-content {
    position: relative;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(12, calc(100% / 12));
    grid-template-rows: repeat(12, calc(100% / 12));
    color: $text-color-light;
    text-shadow: 0 0 6px transparentize($text-color-dark, 0.4);
    transition: color 0.4s, text-shadow 0.4s;

    header {
      grid-column: 1 / 13;
      grid-row: 1 / 3;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      .location-title {
        span {
          font-size: $text-size-base;
        }
      }

      img {
        display: block;
        width: 32px;
        height: 32px;
      }
    }

    &-date {
      grid-column: 1 / 13;
      grid-row: 3 / 4;
      text-align: center;
      font-weight: 600;
      text-transform: uppercase;
    }

    &-current-temp {
      grid-column: 1 / 13;
      grid-row: 3 / 10;
      text-align: right;
      font-size: $text-size-base * 10;
      line-height: 0.9em;
      text-align: center;
      sup {
        font-size: 50%;
      }
      @include media('≤tablet') {
        grid-row: 4 / 10;
        font-size: 19vh;
      }
    }
    &-temps {
      grid-column: 5 / 9;
      grid-row: 10 / 11;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }
    &-name {
      grid-column: 5 / 9;
      grid-row: 11 / 12;
      text-align: center;
      font-size: 160%;
      font-weight: 600;
    }
    &-humidity {
      grid-column: 10/13;
      grid-row: 11/13;
      text-align: center;
      height: 50%;
      @include media('≤tablet') {
        grid-row: 10/13;
      }
    }

    &-wind {
      grid-column: 1/5;
      grid-row: 10/13;
      text-align: center;
      i {
        font-size: $text-size-medium;
        transform-origin: center;
        transition: transform 0.5s;
        filter: drop-shadow(0 0 6px transparentize($color-white, 0.2));
      }
      @include media('≤tablet') {
        grid-row: 9/13;
      }
    }

    /* Text contrast */
    &.c,
    &.lc,
    &.h,
    &.sn {
      color: $text-color-dark;
      text-shadow: 0 0 6px transparentize($text-color-light, 0.4);
    }
  }

  > .loading-message {
    color: $color-white;
  }
}
